importFrom("graphics", plot)
importFrom("stats", "formula", "lm", "model.matrix")
import(ggplot2, methods, grid)

exportClasses(
	      "brinson",
	      "brinsonMulti",
              "regression",
              "regressionMulti"
              )

exportMethods(
              "summary",
              "returns",
              "exposure",
              "show",
              "plot"
              )

export(
       "brinson",
       "regress"
       )
